// https://github.com/keanecodes/cz3003-space/wiki/Getting-APIs#back-end
module.exports = {
    apiKey: "<SENSITIVE INFORMATION>",
    authDomain: "<SENSITIVE INFORMATION>.firebaseapp.com",
    databaseURL: "https://<SENSITIVE INFORMATION>.firebaseio.com",
    projectId: "<SENSITIVE INFORMATION>",
    storageBucket: "<SENSITIVE INFORMATION>",
    messagingSenderId: "<SENSITIVE INFORMATION>",
    appId: "<SENSITIVE INFORMATION>",
};
