{
  "type": "service_account",
  "project_id": "<SENSITIVE INFORMATION>",
  "private_key_id": "<SENSITIVE INFORMATION>",
  "private_key": "-----BEGIN PRIVATE KEY-----\n<SENSITIVE INFORMATION>\n-----END PRIVATE KEY-----\n",
  "client_email": "<SENSITIVE INFORMATION>",
  "client_id": "<SENSITIVE INFORMATION>",
  "auth_uri": "<SENSITIVE INFORMATION>",
  "token_uri": "<SENSITIVE INFORMATION>",
  "auth_provider_x509_cert_url": "<SENSITIVE INFORMATION>",
  "client_x509_cert_url": "<SENSITIVE INFORMATION>",
  "universe_domain": "<SENSITIVE INFORMATION>"
}
